<div class="page-not-found">
  <div class="not-found-container">
    <img src="assets/images/error-404.svg" alt="">
    <p class="mt-4 mb-3 font-34 font-md-20 font-weight-bold text-color-red">Oops!</p>
    <p class="mb-3 font-20 font-md-16 font-weight-medium text-color-onyx">We can't seem to find the page you are looking for</p>
    <ul class="links">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/">Match making</a>
      </li>
      <li>
        <a routerLink="/applications" href="">Applications</a>
      </li>
      <li>
        <a routerLink="/home/tutorials">Tutorials </a>
      </li>
      <li>
        <a routerLink="faqs">FAQ</a>
      </li>
    </ul>
  </div>
</div>
