<app-header
  [className]="isAuthenticated ? 'header-2' : ''"
  title="Match Making"
  subTitle="find your partners"
></app-header>
<section class="secondary-section" *ngIf="!isAuthenticated">
  <div class="custom-container mb-5">
    <app-default-match-making></app-default-match-making>
  </div>
</section>

<div class="custom-container mt-4 mb-5" *ngIf="isAuthenticated">
  <div
    *ngIf="showAddButton()"
    class="d-flex justify-content-end position-relative"
  >
    <div class="add-new" data-aos="zoom-in">
      <button
        mat-flat-button
        class="btn light-blue-button px-4 mb-4"
        (click)="Add()"
      >
        <mat-icon class="mx-1">add</mat-icon>
        <span class="mx-1">New Match Making</span>
      </button>
    </div>
  </div>
  <section class="primary-tab">
    <nav mat-tab-nav-bar  data-aos="zoom-in">
    <span
      mat-tab-link
      *ngFor="let link of matchMakingTabs"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.name }}
    </span>
    </nav>
    <div class="py-4 mat-tab-link-body-wrapper">
      <router-outlet></router-outlet>
    </div>
  </section>

</div>
