$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: bold;
$font-extra-bold: 800;
$font-family: 'Avenir';
$font-size-base: 16;

$black: #000000;
$white: #FFFFFF;
$onyx: #1B1D21;
$gray: #706F73;
$gray-1: #E4E7EE;
$light-gray: #F5F6FA;
$dark-gray: #A9A8AB;
$dark-gray-1: #A5ACC6;
$off-white: #f9f9f9;
$off-white-1: #E3E3E3;
$green: #15C39A;
$red: #EA1537;
$yellow: #FCBA30;
$blue: #0080C5;
$light-blue: #00ADEE;
$light-blue-1: #E0F5FD;
$orange: #F68E1E;
$transparent: transparent;


$root-colors: (
  black: #000000,
  white: #FFFFFF,
  onyx: #1B1D21,
  gray: #706F73,
  gray-1: #E4E7EE,
  light-gray: #F5F6FA,
  dark-gray: #A9A8AB,
  dark-gray-1: #A5ACC6,
  off-white: #f9f9f9,
  off-white-1: #E3E3E3,
  green: #15C39A,
  red: #EA1537,
  yellow: #FCBA30,
  blue: #0080C5,
  light-blue: #00ADEE,
  light-blue-1: #E0F5FD,
  orange: #F68E1E,
  transparent: transparent,
);


