<div class="popup-container">
  <div
    class="d-flex align-items-center justify-content-between"
    mat-dialog-title
  >
    <h3 class="mb-0 font-24 font-md-20 font-weight-semi-bold">
      {{
        actionType === TABLELISTACTIONS.ADD
          ? NEWSFORMLABELS.ADD_NEW_ARTICLE
          : NEWSFORMLABELS.EDIT_ARTICLE
      }}
    </h3>
    <button class="mat-close-modal" matDialogClose>
      <span class="fi fi-close text-color-black"></span>
    </button>
  </div>
  <form [formGroup]="newsForm">
    <mat-dialog-content>
      <div class="p-3">
        <div class="row">
          <div class="col-12 mb-3" hidden>
            <app-docs-uploader
              label="Article Thumbnail"
              labelHint="(Recommendation size 370px * 250px)"
            ></app-docs-uploader>
          </div>
          <div class="col-12 mb-3">
            <app-docs-uploader
              label="Article Cover"
              labelHint="(Recommendation size 840px * 460px)"
              [showLabel]="'Article Cover'"
              [display]="
                actionType === TABLELISTACTIONS.EDIT ? 'single-file-only' : ''
              "
              [singleFileBase64]="
                actionType === TABLELISTACTIONS.EDIT
                  ? data?.newsItem?.image?.data
                  : ''
              "
              [showDeletionIcon]="
                actionType === TABLELISTACTIONS.EDIT ? true : false
              "
              [ItemFormGroup]="newsForm"
              [ItemFormControlName]="'image'"
            ></app-docs-uploader>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field>
              <label class="form-label">{{ NEWSFORMLABELS.TITLE }} </label>
              <div class="input-content">
                <input
                  matInput
                  placeholder="Type Article Title "
                  formControlName="title"
                  required
                />
              </div>
              <mat-error
                *ngIf="
                  newsForm?.controls?.title?.errors &&
                  newsForm?.controls?.title?.errors?.required
                "
              >
                {{ NEWSFORMLABELS.TITLE + NEWSFORMLABELS.IS_REQUIRED }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field class="custom-textarea">
              <label class="form-label">{{ NEWSFORMLABELS.BODY }}</label>
              <div class="input-content">
                <textarea
                  matInput
                  placeholder="Write Body here.."
                  formControlName="body"
                  required
                ></textarea>
              </div>
              <mat-error
                *ngIf="
                  newsForm?.controls?.body?.errors &&
                  newsForm?.controls?.body?.errors?.required
                "
              >
                {{ NEWSFORMLABELS.BODY + NEWSFORMLABELS.IS_REQUIRED }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field appearance="fill">
              <mat-label>{{ NEWSFORMLABELS.DATE }}</mat-label>
              <div class="input-content">
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="publishDate"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
                  newsForm?.controls?.publishDate?.errors &&
                  newsForm?.controls?.publishDate?.errors?.required
                "
              >
                {{ NEWSFORMLABELS.DATE + NEWSFORMLABELS.IS_REQUIRED }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="default-footer">
      <div class="d-flex align-items-center justify-content-between w-100">
        <mat-slide-toggle class="reverse-toggle" formControlName="visible"
          >Publish</mat-slide-toggle
        >

        <div class="d-flex justify-content-end w-100">
          <button mat-flat-button class="btn button-white px-4" matDialogClose>
            Cancel
          </button>
          <span class="mx-2"></span>
          <button
            mat-flat-button
            class="btn light-blue-button shadow-hover px-4"
            [disabled]="newsForm.invalid"
            [mat-dialog-close]="onSubmit"
          >
            {{
              actionType === TABLELISTACTIONS.ADD
                ? NEWSFORMLABELS.SUBMIT
                : NEWSFORMLABELS.EDIT
            }}
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </form>
</div>
