@import "src/assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


:host ::ng-deep {
  .mat-dialog-content{
    max-height: initial;
  }
  .details-stepper {
    background-color: transparent;

    height: 100%;
    @include media-breakpoint-up(md){
      display: flex;
      flex-direction: row;
    }
    .mat-ripple.mat-step-header-ripple {
      display: none;
    }

    .mat-horizontal-stepper-header-container {
      overflow: scroll;
      border: 0;
      border-bottom: 1px solid #EDEDED;
      position: sticky;
      top: 0;
      background: white;

      @include media-breakpoint-up(md){
        width: 30%;
        flex-direction: column;
        border-bottom: 0;
        overflow: hidden;
      }

      .mat-stepper-horizontal-line {
        display: none;
      }

      .mat-horizontal-stepper-header {
        padding: 10px 40px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        background: transparent;

        @include media-breakpoint-down(md){
          padding: 15px;
          width: auto;
          overflow: visible;
        }

        &[aria-selected="true"] {
          //background-color: $light-blue;
        }

        .mat-step-icon {
          display: none;
        }

        .mat-step-label {
          font-size: 1.125rem;
          color: $gray;
          font-weight: $font-medium;

          @include media-breakpoint-down(md){
            font-size: .92rem;
          }


          &.mat-step-label-selected{
            color: $onyx !important;
            //filter: grayscale(0);
            //background-color: $light-blue;

            .icon{
              [fill='#d5dbe1']{
                fill: #d5dbe1;
              }

              [fill='#0080c5']{
                fill: #0080c5;
              }

              [fill='#00adee']{
                fill: #00ADEE;
              }

              [fill='#f3f3f1']{
                fill: #F3F3F1;
              }

              [fill='#000000'], path, circle{
                fill: #000000;
              }
            }

          }


          .mat-step-text-label{
            display: flex;
            align-items: center;
          }
          //&.mat-step-label-active{
          //  color: $green;
          //}

          .icon{
            display: inline-flex;

            [fill='#00adee'] ,[fill='#f3f3f1'], [fill='#0080c5'], [fill='#d5dbe1']{
              fill: $white;
            }

            [fill='#000000'], path, circle{
              fill: #706F73;
            }
          }
        }
      }
    }

    .step-content{
      //padding: 60px 0;
      //margin-top: 25px;
    }

    .mat-horizontal-content-container {
      //padding: 0 !important;
      @include media-breakpoint-up(md){
        flex: 0 0 calc(70% - 30px);
        max-width: calc(70% - 30px);
        border-left: 1px solid rgba($light-gray, .46);
      }

      overflow: auto;
      margin-top: 20px;

    }
  }

}
