<div class="row justify-content-center">
  <div class="col-md-7 mb-3">
    <h3 class="font-24 font-md-18 font-weight-bolder mb-0">Benefit to Saudi Arabia</h3>
    <p class="font-16 font-md-14 text-color-gray mb-0"> Describe the benefit to KSA M terms of increased employment. reduction of fossil fuel consumption.
      Reduction of CO: emissions, or any other expected benefits (direct or indirect) that would result from
      the application of the proposed renewable energy technology.</p>
  </div>

  <div class="col-md-7 mb-2">
    <mat-form-field class="custom-textarea" appearance="fill" floatLabel="never">
      <label class="form-label">Sub Header</label>
      <textarea matInput placeholder="Sub Header"></textarea>
    </mat-form-field>
  </div>

  <div class="col-md-7 mb-3">
    <h3 class="font-24 font-md-18 font-weight-bolder mb-0">Anticipated Project Total Cost, and Cost share</h3>
  </div>


  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Provide the anticipated funding requested from K A CARE (Not exceeding 20M SAR). </label>
      <input matInput placeholder="Enter the anticipated funding requested">
      <span matSuffix class="font-14 font-weight-bold">SAR</span>
    </mat-form-field>
  </div>

  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Provide the anticipated cost requested from the Prime Bidder and his team  </label>
      <input matInput placeholder="Enter the anticipated cost">
      <span matSuffix class="font-14 font-weight-bold">SAR</span>
    </mat-form-field>
  </div>

  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Please define the cost-share sources (if any) and contribution </label>
      <input matInput placeholder="define the cost-share sources">
      <span matSuffix class="font-14 font-weight-bold">SAR</span>
    </mat-form-field>
  </div>




</div>
