<form [formGroup]="benefitsForm">
  <div class="row justify-content-center">
    <ng-container *ngIf="appName === APPNAMES.DEMO || appName === APPNAMES.PD">
      <div class="col-md-7 mb-3">
        <h3 class="font-24 font-md-18 font-weight-bolder mb-0">
          Benefit to Saudi Arabia
        </h3>
        <p class="font-16 font-md-14 text-color-gray mb-0">
          Describe the benefit to KSA M terms of increased employment. reduction
          of fossil fuel consumption. Reduction of CO: emissions, or any other
          expected benefits (direct or indirect) that would result from the
          application of the proposed renewable energy technology.
        </p>
      </div>
      <div class="col-md-7 mb-2">
        <mat-form-field class="custom-textarea">
          <div class="input-content">
            <textarea
              matInput
              placeholder="Benefit to Saudi Arabia"
              formControlName="ksaBenefit"
            ></textarea>
          </div>
        </mat-form-field>
      </div>
    </ng-container>

    <div class="col-md-7 mb-3">
      <h3 class="font-24 font-md-18 font-weight-bolder mb-0">
        Anticipated Project Total Cost, and Cost share
      </h3>
    </div>
    <div class="col-md-7 mb-2">
      <mat-form-field>
        <label class="form-label"
          >Provide the anticipated funding requested from K A CARE (Not
          exceeding 20M SAR).
        </label>
        <div class="input-content">
          <input
            matInput
            placeholder="Enter the anticipated funding requested"
            formControlName="anticipatedCost"
          />
          <span class="font-icon font-14 font-weight-bold">SAR</span>
        </div>
      </mat-form-field>
    </div>

    <div class="col-md-7 mb-2">
      <mat-form-field>
        <label class="form-label"
          >Provide the anticipated cost requested from the Prime Bidder and his
          team
        </label>
        <div class="input-content">
          <input
            matInput
            placeholder="Enter the anticipated cost"
            formControlName="projectCost"
          />
          <span class="font-icon font-14 font-weight-bold">SAR</span>
        </div>
      </mat-form-field>
    </div>

    <div class="col-md-7 mb-2">
      <mat-form-field>
        <label class="form-label"
          >Please define the cost-share sources (if any) and contribution
        </label>
        <div class="input-content">
          <input
            matInput
            placeholder="define the cost-share sources"
            formControlName="shareResourcesCost"
          />
          <span class="font-icon font-14 font-weight-bold">SAR</span>
        </div>
      </mat-form-field>
    </div>
  </div>
</form>
