<div class="contact-us-popover">
  <div class="contact-container">
    <h3 class="font-24 font-md-20 text-color-onyx font-weight-bold mb-3 text-center">Send Us Message</h3>
    <form action="">
      <mat-form-field class="small-input">
        <label class="form-label">Full Name</label>
        <div class="input-content">
          <input matInput type="email" placeholder="Enter Full Name"/>
        </div>
      </mat-form-field>
      <mat-form-field class="small-input">
        <label class="form-label">Email</label>
        <div class="input-content">
          <input matInput type="email" placeholder="Enter Email"/>
        </div>
      </mat-form-field>
      <mat-form-field class="small-input">
        <label class="form-label">Subject</label>
        <div class="input-content">
          <input matInput type="email" placeholder="Enter Subject"/>
        </div>
      </mat-form-field>
      <mat-form-field class="custom-textarea small-custom-textarea">
        <label class="form-label">Body </label>
        <div class="input-content">
          <textarea matInput placeholder="Enter Message here"></textarea>
        </div>
      </mat-form-field>
      <div class="d-flex justify-content-end my-3">
        <button type="submit" mat-flat-button class="btn light-blue-button font-16 font-weight-bold">
          <span class="mx-1">Send Message</span>
        </button>
      </div>
    </form>
  </div>
</div>
