@import "src/assets/scss/variables";

.contact-us-popover{
  background-color: $white;
  max-width: 482px;
  border-radius: 28px;
  padding: .5rem;
  margin-bottom: 1rem;
  box-shadow: 0 13px 26px rgba($black, 4%);
  max-height: calc(100vh - 7rem);
  display: flex;
  overflow: hidden;
  .contact-container{
    padding: 1rem;
    overflow: auto;
  }
}
