<div class="hub-container">
  <div class="general-box bg-color-yellow p-4 my-4">
    <mat-divider></mat-divider>
    <section class="my-3">
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-stroked-button class="btn light-blue-button">Basic</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-blue">Basic</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn primary-button">Primary</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn secondary-button">Secondary</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-green">Save</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn light-gray-button">Save as draft</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn light-gray-button bordered">Cancel</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-danger" disabled>Disabled</button>

      </div>
    </section>

    <mat-divider></mat-divider>
    <section class="my-3">
      <div class="example-label">Square</div>
      <div class="example-button-row">
        <button mat-icon-button class="btn action-button" type="button"><span class="fi fi-trash text-color-red"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn action-button" type="button"><span class="fi fi-pen text-color-gray"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn arrow-button" type="button"><span class="fi fi-arrow-left-long text-color-light-blue"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn arrow-button" type="button"><span class="fi fi-arrow-right-long text-color-light-blue"></span></button>
        <span class="mx-2"></span>

      </div>
    </section>

  </div>
</div>
