@use "sass:math";

@mixin fonts {
  @for $i from 10 through 90 {
    .font-#{$i} {
      //font-size: #{$i/$font-size-base}rem;
      //font-size: unquote(math.dev($i,$font-size-base) + 'rem');
      font-size: unquote(math.div($i,$font-size-base) + 'rem');
    }

    .font-#{$i}-imp {
      font-size: unquote(math.div($i,$font-size-base) + 'rem') !important;
    }

    @media(max-width: 1200px) {
      .font-lg-#{$i} {
        font-size: unquote(math.div($i,$font-size-base) + 'rem') !important;
      }
    }

    @media(max-width: 768px) {
      .font-md-#{$i} {
        font-size: unquote(math.div($i,$font-size-base) + 'rem') !important;
      }
    }
  }
}

@include fonts;
