<div class="container">
  <div class="bg-color-white my-3 p-4">
    <div class="row my-3">
      <div class="col-md-6 mb-3">

        <mat-form-field class="icon-before-after">
          <label class="form-label">Enter your email</label>
          <div class="input-content">
            <span class="form-icon fi fi-search"></span>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <span class="form-icon fi fi-eye"></span>
          </div>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field>
          <label class="form-label">Enter your email</label>
          <div class="input-content">
            <input matInput placeholder="pat@example.com">
            <span class="form-icon fi fi-eye"></span>
          </div>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field>
          <label class="form-label">Enter your email</label>
          <div class="input-content">
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <span class="form-icon fi fi-eye"></span>
          </div>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>



      <div class="col-md-6 mb-3">
        <mat-form-field>
          <label class="form-label">Enter your email</label>
          <div class="input-content">
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
          </div>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field>
          <label class="form-label">Choose a date</label>
          <div class="input-content">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker" >
              <i class="fi fi-calendar-1 text-color-onyx font-22" matDatepickerToggleIcon></i>
            </mat-datepicker-toggle>
          </div>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field>
          <label class="form-label"> <b> Fancy</b> <i> label</i></label>
          <div class="input-content">
            <mat-select disableOptionCentering required placeholder="test">
              <mat-option>-- None --</mat-option>
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </div>

          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>


      <div class="col-md-6 mb-3">
        <mat-form-field>
          <label class="form-label"> <b> Fancy</b> <i> label</i></label>
          <div class="input-content">
            <mat-select disableOptionCentering required>
              <mat-option>-- None --</mat-option>
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </div>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field class="custom-textarea">
          <label class="form-label"> <b> Fancy</b> <i> label</i></label>
          <div class="input-content">
            <textarea matInput placeholder="Market Need"></textarea>
          </div>
        </mat-form-field>
      </div>

    <div class="col-12">
      <mat-checkbox>Hide required marker</mat-checkbox>
      <div>
        <label>Float label: </label>
        <mat-radio-group>
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    </div>
  </div>

</div>
