
@import "src/assets/scss/variables";
//@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');





//.masonry-item { width: 200px; }
.masonry-item-container{
  margin-bottom: 15px;
  //max-width: 25%;
  .masonry-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:hover{
      &:before{
        opacity: 1;
      }
      &:after{
        transform: translateX(0);
      }
    }
    &:after{
      content: '';
      background-color: rgba($black, 50%);
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      transition: all .3s ease-in-out;
    }
    &:before{
      content: "\e90a";
      font-family: 'kacare-font-icons';
      font-size: 1.5rem;
      color: $white;
      opacity: 0;
      position: absolute;
      z-index: 1;
      transition: all .3s ease-in-out;
    }
  }
}

