<footer>
  <div class="custom-container">
    <div class="logo-links d-flex align-items-center justify-content-between">
      <a href="/" class="footer-logo">
        <img src="assets/images/logo-white.svg" alt="">
      </a>
      <ul class="footer-links">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Match making</a>
        </li>
        <li>
          <a href="">Applications</a>
        </li>
        <li>
          <a href="">Tutorials </a>
        </li>
        <li>
          <a routerLink="faqs">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
<div class="copyright">
  <div class="custom-container">
    <p class="font-14 text-color-white mb-0 text-center">All rights reserved King Abdullah City for Atomic and Renewable Energy © 2021</p>
  </div>
</div>
</footer>
