<div class="d-flex align-items-center">
  <button mat-icon-button routerLink="/" class="btn action-button" type="button">
    <mat-icon>home</mat-icon>
  </button>
  <span class="mx-2"></span>
  <h2 class="font-35 font-md-20 font-weight-extra-bold text-color-black mb-0">
    Signup
  </h2>
</div>
<p class="font-20 font-weight-normal text-color-gray mb-4">Create as account</p>
<form [formGroup]="registerForm">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <label class="form-label">{{ SINGUPFORMLABELS.PERSONAL_NAME }}</label>
        <div class="input-content">
          <input
            matInput
            [placeholder]="SINGUPFORMLABELS.PERSONAL_NAME"
            formControlName="fullName"
          />
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.fullName.errors &&
            registerForm.controls.fullName.errors.required
          "
        >
          {{ SINGUPFORMLABELS.PERSONAL_NAME + SINGUPFORMLABELS.IS_REQUIRED }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <label class="form-label">{{
          SINGUPFORMLABELS.ORGANIZATION_NAME
        }}</label>
        <div class="input-content">
          <input
            matInput
            [placeholder]="SINGUPFORMLABELS.ORGANIZATION_NAME"
            formControlName="organizationName"

          />
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.organizationName.errors &&
            registerForm.controls.organizationName.errors.required
          "
        >
          {{
            SINGUPFORMLABELS.ORGANIZATION_NAME + SINGUPFORMLABELS.IS_REQUIRED
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <label class="form-label">{{ SINGUPFORMLABELS.EMAIL }}</label>
        <div class="input-content">
          <input
            matInput
            [placeholder]="SINGUPFORMLABELS.EMAIL"
            formControlName="email"

          />
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.email.errors &&
            registerForm.controls.email.errors.required
          "
        >
          {{ SINGUPFORMLABELS.EMAIL + SINGUPFORMLABELS.IS_REQUIRED }}
        </mat-error>
        <mat-error
          *ngIf="
            registerForm.controls.email.errors &&
            registerForm.controls.email.errors.email
          "
        >
          {{ SINGUPFORMLABELS.EMAIL + " is not a valid email." }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <label class="form-label">{{SINGUPFORMLABELS.PHONE_NUMBER}}</label>
        <div class="input-content">
          <input
            matInput
            [placeholder]="SINGUPFORMLABELS.PHONE_NUMBER"
            formControlName="mobileNumber"

          />
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.mobileNumber.errors &&
            registerForm.controls.mobileNumber.errors.required
          "
        >
          {{ SINGUPFORMLABELS.PHONE_NUMBER + SINGUPFORMLABELS.IS_REQUIRED }}
        </mat-error>
        <mat-error
          *ngIf="
            registerForm.controls.mobileNumber.errors &&
            registerForm.controls.mobileNumber.errors.pattern
          "
        >
          {{ SINGUPFORMLABELS.PHONE_NUMBER + ' is not a valid phone number.' }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <label class="form-label">{{SINGUPFORMLABELS.JOB_TITLE}}</label>
        <div class="input-content">
          <input
            matInput
            [placeholder]="SINGUPFORMLABELS.JOB_TITLE"
            formControlName="jobTitle"

          />
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.jobTitle.errors &&
            registerForm.controls.jobTitle.errors.required
          "
        >
          {{ SINGUPFORMLABELS.JOB_TITLE + SINGUPFORMLABELS.IS_REQUIRED }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <label class="form-label">{{SINGUPFORMLABELS.REGISTRATION_TYPE}}</label>
        <div class="input-content">
          <mat-select
            disableOptionCentering
            required
            [placeholder]="SINGUPFORMLABELS.REGISTRATION_TYPE "
            formControlName="generalRoleId"

          >
            <mat-option [value]="role.id" *ngFor="let role of generalRoles">{{
              role.nameEn
            }}</mat-option>
          </mat-select>
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.generalRoleId.errors &&
            registerForm.controls.generalRoleId.errors.required
          "
        >
          {{ SINGUPFORMLABELS.REGISTRATION_TYPE + SINGUPFORMLABELS.IS_REQUIRED }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <label class="form-label">{{SINGUPFORMLABELS.PASSWORD}}</label>
        <div class="input-content">
          <input
            matInput
            [placeholder]="SINGUPFORMLABELS.PASSWORD"
            [type]="passwordFieldType ? 'text' : 'password'"
            formControlName="password"

          />
          <span
            class="form-icon cursor-pointer text-color-dark-gray-1 font-15"
            (click)="toggleFieldType()"
          >
          <mat-icon>{{passwordFieldType ? 'visibility_off' : 'visibility'}}</mat-icon>
        </span>
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.password.errors &&
            registerForm.controls.password.errors.required
          "
        >
          {{ SINGUPFORMLABELS.PASSWORD + SINGUPFORMLABELS.IS_REQUIRED }}
        </mat-error>
        <mat-error
          *ngIf="
            registerForm.controls.password.errors &&
            registerForm.controls.password.errors.pattern
          "
        >
          {{ SINGUPFORMLABELS.PASSWORD + " is not a strong password." }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <label class="form-label">{{SINGUPFORMLABELS.CONFIRM_PASSWORD}} </label>
        <div class="input-content">
          <input
            matInput
            [placeholder]="SINGUPFORMLABELS.CONFIRM_PASSWORD"
            [type]="passwordConfirmFieldType ? 'text' : 'password'"
            formControlName="confirmPassword"

          />
          <!-- [ngClass]="{'fi fi-eye':!passwordConfirmFieldType, 'fi fi-eye': passwordConfirmFieldType}" (click)="toggleFieldConfirm()" -->
          <span
            class="form-icon cursor-pointer text-color-dark-gray-1 font-15"
            (click)="toggleFieldConfirm()"
          >
          <mat-icon>{{passwordConfirmFieldType ? 'visibility_off' : 'visibility'}}</mat-icon>
        </span>
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.confirmPassword.errors &&
            registerForm.controls.confirmPassword.errors.compare &&
            !registerForm.controls.confirmPassword.errors.required
          "
        >
          {{ SINGUPFORMLABELS.PASSWORD + ' and ' +SINGUPFORMLABELS.CONFIRM_PASSWORD + ' is not matching.' }}
        </mat-error>
        <mat-error
          *ngIf="
            registerForm.controls.confirmPassword.errors &&
            registerForm.controls.confirmPassword.errors.required
          "
        >
          {{ SINGUPFORMLABELS.CONFIRM_PASSWORD + SINGUPFORMLABELS.IS_REQUIRED }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="custom-textarea">
        <label class="form-label">{{SINGUPFORMLABELS.EXPERIENCE_FIELD}} </label>
        <div class="input-content">
          <textarea
            matInput
            [placeholder]="SINGUPFORMLABELS.EXPERIENCE_FIELD"
            formControlName="experienceFields"

          ></textarea>
        </div>
        <mat-error
          *ngIf="
            registerForm.controls.experienceFields.errors &&
            registerForm.controls.experienceFields.errors.required
          "
        >
          {{ SINGUPFORMLABELS.EXPERIENCE_FIELD + SINGUPFORMLABELS.IS_REQUIRED }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12">
      <botdetect-captcha
        captchaStyleName="tlcCaptcha"
        codeLength="4"
        imageWidth="150"
        imageStyle="GRAFFITI2"
      ></botdetect-captcha>

      <div class="hidebotdetect"></div>
      <mat-form-field>
        <mat-label>Code</mat-label>
        <div class="input-content">
          <input
            matInput
            type="text"
            formControlName='userEnteredCaptchaCode'
            name="tlcCaptchaInput"
            id="tlcCaptchaInput"
          />
        </div>
        <mat-error
        *ngIf="
          registerForm.controls.userEnteredCaptchaCode.errors &&
          registerForm.controls.userEnteredCaptchaCode.errors.required
        "
      >
        {{ SINGUPFORMLABELS.CODE + SINGUPFORMLABELS.IS_REQUIRED }}
      </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <mat-slide-toggle formControlName="participatedinTLC">
      <span class="font-17 font-weight-medium text-color-gray"
        >Have the organization participated in TCL before?</span
      >
    </mat-slide-toggle>
  </div>

  <!-- <button
    (click)="register()"
    mat-flat-button
    class="
      btn
      light-blue-button
      only-shadow
      font-16 font-weight-bold
      w-100
      mb-3
    "
  >
  <span class="mx-1 fi fi-spinner spin"></span>
  <span class="mx-1">Sign up</span>

  </button> -->
  <button
  type="submit"
  (click)="register()"
  [disabled]="registerForm.invalid"
  mat-flat-button
  class="
    btn
    light-blue-button
    only-shadow
    font-16 font-weight-bold
    w-100
    my-3
  "
>
  [appSpinnerButton]="showSpinner"
  <span class="mx-1">Sign up</span>
</button>
  <p class="font-16 font-weight-medium text-color-gray mt-4 mb-2">
    You have an account?
    <a routerLink="/login" class="text-color-light-blue">Login</a>
  </p>
</form>
