:host{
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  min-height: 100%;
  justify-content: center;
  @media (min-width: 1200px){
    width: 60%;
    margin: auto 130px;
  }
  @media (max-width: 991px){
    padding-bottom: 80px;
  }
}

.hidebotdetect {
  background-color: #ffffff;
  height: 16px;
  width: 78%;
  position: relative;
  top: 5px;
}
