<div class="login-section">
  <div class="login-illustration">
    <div
      class="login-info d-flex flex-column justify-content-center align-items-baseline">
      <div class="logo d-flex justify-content-center">
        <img class="d-none d-md-inline-block" src="assets/images/logo-white.svg" alt="">
        <img class="d-inline-block d-md-none" src="assets/images/logo.svg" alt="">
      </div>
      <span class="d-inline-block d-md-none mx-2"></span>
      <h1 class="font-34 font-md-21 font-weight-bolder text-color-white mb-0">Glad to see you!</h1>
      <p class="m-0 font-20 font-weight-normal text-color-white d-none d-md-block">TCL More than 2k connected companies and 50+ Projects.</p>
    </div>
  </div>
  <div class="login-form flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
