.underline {
  text-decoration: underline;
}

.hover-underline{
  &:hover{
    text-decoration: underline;
  }
}

.line-height-1 {
  line-height: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.no-box-shadow {
  box-shadow: none !important;
}

.default-shadow{
  box-shadow: 0 20px 40px rgba($black, 7%);
}

.rotate{
  transform: rotateY(180deg)
}

.default-tooltip{
  background: $white;
  border-radius: 8px;
  position: relative;
  margin: 0 20px;
  padding: 10px 20px;
  height: 40px;
  box-shadow: 0 3px 14px rgba($black, 6%);

  &:after, &:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 0;
    bottom: 0;
    top: calc(50% - 7px);
    right: -7px;
    box-sizing: border-box;
    border: 7px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform: rotate(225deg);
    transform-origin: center;


  }

  &::after{
    z-index: -10;
    box-shadow: 0 3px 14px rgba($black, 6%);
  }
  &::before{
    z-index: 10;

  }
}

.contact-popup-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 4;
  button{
    min-width: 73px;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    border: none;
    padding: 0;
    transition: box-shadow .2s linear;
    &.active{
      background-color: $white;
      box-shadow: 0 3px 14px rgba($black, 6%);
      .fi{
        background-color: $light-gray;
        transform: scale(.7);
      }
    }
    .fi{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      transition: all .2s linear;
    }
  }
}


.h-55 {
  height: 55px !important;
}

.h-51 {
  height: 51px !important;
}

.h-40 {
  height: 40px !important;
}

.h-44 {
  height: 44px !important;
}

.general-box {
  border: 1px solid $light-gray;
}

.general-border {
  border: 2px solid $light-gray;
}

.border {
  border: 1px solid $light-gray !important;
}

.border-top {
  border-top: 1px solid $light-gray !important;
}

.border-bottom {
  border-bottom: 1px solid $light-gray !important;
}


.primary-label{
  background: $light-gray;
  border-radius: 7px;
  display: inline-block;
  padding: 10px 15px;
}


[dir=rtl]  {
  .back-arrow{
    transform: rotateY(180deg);
  }
}


.mat-progress-spinner, .mat-spinner {
  width: 24px !important;
  height: 24px !important;
  svg{
    width: 24px !important;
    height: 24px !important;
    circle {
      stroke: $blue;
    }
  }

}
