.fi-add:before {
  content: "\e919";
}
.fi-menu:before {
  content: "\e91a";
}
.fi-calendar:before {
  content: "\e900";
}
.fi-calendar-1:before {
  content: "\e901";
}
.fi-clock:before {
  content: "\e902";
}
.fi-close:before {
  content: "\e903";
}
.fi-contact:before {
  content: "\e904";
}
.fi-contact-2:before {
  content: "\e905";
}
.fi-contact-1:before {
  content: "\e906";
}
.fi-contract:before {
  content: "\e907";
}
.fi-arrow-down:before {
  content: "\e908";
}
.fi-download:before {
  content: "\e909";
}
.fi-eye:before {
  content: "\e90a";
}
.fi-file:before {
  content: "\e90b";
}
.fi-arrow-left:before {
  content: "\e90c";
}
.fi-arrow-left-long:before {
  content: "\e90d";
}
.fi-location:before {
  content: "\e90e";
}
.fi-pen:before {
  content: "\e90f";
}
.fi-arrow-right:before {
  content: "\e910";
}
.fi-arrow-right-long:before {
  content: "\e911";
}
.fi-search:before {
  content: "\e912";
}
.fi-shared-folder:before {
  content: "\e913";
}
.fi-sign-out:before {
  content: "\e914";
}
.fi-spinner:before {
  content: "\e915";
}
.fi-statistics:before {
  content: "\e916";
}
.fi-trash:before {
  content: "\e917";
}
.fi-arrow-up:before {
  content: "\e918";
}
