.default-swiper {
  .swiper-container{
    overflow: visible;

    @media (max-width: 1440px) {
      display: flex;
      flex-direction: column-reverse;
      .swiper-controls{
        position: static !important;
        .add-rows{
          display: flex;
          flex-direction: row-reverse;
          margin-bottom: 1rem;
          .arrow-button{
            position: static;
          }
        }
      }
    }

    .swiper-slide {
      opacity: 0;
      &.swiper-slide-visible{
        opacity: 1;
      }
    }
    .swiper-controls{
      position: absolute;
      top: calc(50% + 20px);
      width: 100%;
      z-index: 3;

      .arrow-button{
        position: absolute;
      }
      .button-next{
        right: -60px;
      }

      .button-prev{
        left: -60px;
      }
    }
  }
}
