.mat-close-modal {
  width: 45px;
  height: 45px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  transition: all .3s linear;
  &:hover{
    opacity: .9;
  }

}

.main-popup{
  &.full-popup{
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
    bottom: 0 !important;
    position: absolute !important;
    .mat-dialog-container{
      border-radius: 0;
    }
    .mat-dialog-content{
      margin: -24px;
      max-height: none;
      border-radius: 0;
    }
  }
  .mat-dialog-container{
    border-radius: 15px;
  }
  .popup-container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .dialog-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mat-dialog-title{
    margin: -24px -24px 0 !important;
    padding: 0 16px;
    min-height: 70px;
  }

  .mat-dialog-content{
    border-top: 1px solid rgba($light-gray, .46);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    //max-height: initial;
    flex-grow: 1;

  }

  .mat-dialog-actions{
    background-color: $white;
    margin: -24px;
    height: 110px;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
    &.default-footer{
      background: $light-gray;
      border-top: 1px solid $white;
    }
    button{
      min-width:100px;
    }
  }
}




@include media-breakpoint-down(sm){
  .main-popup {
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
    bottom: 0 !important;
    position: absolute !important;
    &.confirm-popup{
      width: 450px !important;
      max-width: none !important;
      height: auto;
      bottom: 0 !important;
      position: relative !important;
    }
    .mat-dialog-title {
      padding: 0 14px;
      min-height: 55px;
    }
    .mat-dialog-content {
      max-height: none;
      flex-grow: 1;
      .stepper-title{
        display: none;
      }

    }
    .mat-dialog-container {
      overflow: hidden !important;
    }
  }
}


@include media-breakpoint-down(sm){
  .main-popup {
    &.confirm-popup{
      width: 100% !important;
      position: absolute !important;
    }
  }
}
