<div class="row justify-content-center">
  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Institutional Name</label>
      <input matInput placeholder="Institutional Name" required>
    </mat-form-field>
  </div>
  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Institutional Address</label>
      <input matInput placeholder="Institutional Address" required>
    </mat-form-field>
  </div>
  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Registration Number </label>
      <input matInput placeholder="Registration Number " required>
    </mat-form-field>
  </div>
  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Investigator Name</label>
      <input matInput placeholder="Investigator Name" required>
    </mat-form-field>
  </div>
  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Investigator Email</label>
      <input matInput placeholder="Investigator Email" required>
    </mat-form-field>
  </div>
  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Investigator phone</label>
      <input matInput placeholder="Investigator phone" required>
    </mat-form-field>
  </div>
  <div class="col-md-7 mb-2">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="form-label">Investigator Address</label>
      <input matInput placeholder="Investigator Address" required>
    </mat-form-field>
  </div>
  <div class="col-md-7 mb-2">
    <label class="form-label mb-2">Is the prime bidder a saudi company?</label>
    <mat-radio-group class="d-flex flex-column">
      <mat-radio-button value="yes">Yes</mat-radio-button>
      <mat-radio-button value="no">No</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
