@import "src/assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host{
  ::ng-deep{
    .main-menu{
      background-color: $white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: inherit;
      transition: all .3s linear;
      z-index: 10;
      box-shadow: 0 12px 11px rgba($black, 5%);
      &.sticky{
        background: rgba($onyx, 80%);
      }
      @include media-breakpoint-up(lg){
        &.admin-nav{
          box-shadow: none;
          border-right: 1px solid $light-gray;
          width: 280px;
          position: relative;
          .custom-container{
            height: 100%;
            padding: 0;
            width: 100%;
            max-width: 100%;
          }
          .main-nav{
            padding: 0;
            height: 100vh;
            flex-direction: column;
            align-items: inherit;
            justify-content: flex-start;
            .navbar-brand{
              margin: 1rem 0;
              padding: 0 1.5rem;
            }
            .nav-list-container{
              flex-grow: 1;
              overflow: auto;
              .nav-list{
                flex-direction: column;
                align-items: baseline;
                margin: 1rem 0;
                .nav-item{
                  width: 100%;
                  margin: 0 !important;
                  &.has-dropdown{
                    &:hover{
                      .nav-dropdown{
                        display: none;
                      }
                    }
                  }
                  &.collapse-dropdown {
                    > .nav-link{
                      background-color: $light-gray;
                      border-color: $light-blue;

                      .nav-label{
                        color: $onyx;
                        &:after{
                          color: $onyx !important;
                          transform: rotate(0);
                        }
                      }
                    }
                    .nav-dropdown {
                      position: relative;
                      top: 0;
                      width: 100%;
                      padding: 0;
                      margin: 0;
                      display: block !important;
                      background-color: $light-gray;
                      .nav-item{
                        display: block !important;
                        opacity: 1 !important;
                        background-color: $light-gray;
                        .nav-link{
                          height: 40px;
                          padding: 0 0 0 63px;
                          align-items: center;
                          border: 0;
                          font-weight: $font-regular;
                          transition: all .3s linear;
                          .nav-label{
                            color: $onyx !important;
                          }
                          &.active, &:hover{
                            font-weight: $font-medium;
                          }
                        }
                      }
                    }
                  }
                  .nav-link{
                    width: 100%;
                    height: 55px;
                    margin: 0;
                    padding: 0 1.5rem;
                    border-right: 4px solid transparent;
                    flex-direction: row;
                    align-items: center;
                    color: $onyx !important;
                    &:after{
                      display: none;
                    }
                    &.active, &:hover{
                      background-color: $light-gray;
                      border-color: $light-blue;

                      .nav-label{
                        color: $onyx;
                        &:after{
                          transform: rotate(0deg);
                          color: $onyx !important;
                        }
                      }
                    }

                    .nav-label{
                      flex-grow: 1;
                      justify-content: space-between;
                      //margin: 0 .5rem;
                      color: $dark-gray;

                      &:after{
                        transform: rotate(-90deg);
                        color: $dark-gray !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .main-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        .navbar-brand{
          display: flex;
          img{
            min-width: 170px;
          }
        }
        .toggle-menu-btn{
          height: 37px !important;
          min-width: 37px !important;
          width: 37px !important;
          padding: 0;
          border: 0 !important;
          //display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: none !important;
          &.active{
            border-radius: 50% !important;
            background-color: $light-gray;
          }
          .mat-button-wrapper {
            justify-content: center;
          }
          .mat-button-focus-overlay,
          .mat-ripple{
            display: none !important;
          }
        }
        .close-sidenav{
          height: 40px;
          min-width: 40px !important;
          width: 40px;
          padding: 0;
          border: 0 !important;
        }
        .nav-list-container{
          display: flex;
          flex-grow: 1;


          .nav-list{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0 1rem;
            flex-grow: 1;

            .nav-item{
              margin: 0 1rem;


              &.has-dropdown{
                position: relative;
                @include media-breakpoint-up(md){
                  &:hover {
                    .nav-link{
                      color: $light-blue;
                      &:after{
                        width: 13px;
                        background: $light-blue;
                      }
                      .nav-label{
                        &:after{
                          color: $light-blue;
                        }
                      }
                    }
                    .nav-dropdown{
                      opacity: 1;
                      z-index: 1;
                      display: block;
                      .nav-item{
                        display: block;
                        opacity: 1;
                      }
                    }
                  }
                }

                > .nav-link{
                  z-index: 3;
                  .nav-label{
                    display: flex;
                    align-items: center;
                    &:after{
                      content: "\e908";
                      font-family: 'kacare-font-icons';
                      width: 24px;
                      color: $onyx;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: .7rem;
                      transition: all .3s linear;
                    }
                  }


                }
                .nav-dropdown{
                  position: absolute;
                  background-color: $white;
                  width: 250px;
                  top: 36px;
                  list-style: none;
                  padding: 30px 0 0;
                  margin: 0 -2rem;
                  //opacity: 0;
                  perspective: 1000px;
                  z-index: -1;
                  display: none;
                  transition: all .3s linear;
                  .nav-item{
                    margin: 0;
                    display: none;
                    opacity: 0;
                    animation: growDown 300ms ease-in-out forwards;
                    transform-origin: top center;
                    .nav-link{
                      height: 60px;
                      color: $gray;
                      padding: 1rem;
                      align-items: baseline;
                      &.active, &:hover{
                        background-color: $light-gray;
                        color: $light-blue;

                      }
                      &:after {
                        display: none;
                      }
                    }
                  }

                }
              }

              &.collapse-dropdown{
                > .nav-link{
                  .icon{
                    .dimmed{
                      display: none;
                    }
                    .icon-active{
                      display: block;
                    }
                  }
                }
              }

              .nav-link{
                font-size: 0.9375rem;
                font-weight: $font-medium;
                color: $onyx;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 40px;
                transition: all .3s linear;
                cursor: pointer;
                &.active, &:hover{
                  color: $light-blue;
                  &:after{
                    width: 13px;
                    background: $light-blue;
                  }
                  .nav-label{
                    &:after{
                      color: $light-blue;
                    }
                  }
                  .icon{
                    .dimmed{
                      display: none;
                    }
                    .icon-active{
                      display: block;
                    }
                  }

                }



                &:after{
                  content: "";
                  width: 0;
                  height: 5px;
                  border-radius: 3px;
                  background-color: transparent;
                  position: absolute;
                  bottom: 0;
                  transition: all .3s linear;
                }

                .nav-label{
                  &.logout-text{
                    color: $red !important;
                  }
                }

                .icon{
                  min-width: 40px;
                  display: inline-flex;
                  .dimmed{
                    display: block;
                  }
                  .icon-active{
                    display: none;
                  }
                }

                .badge{
                  min-width: 17px;
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  color: $white;
                  background-color: $light-blue;
                  font-size: 0.625rem;
                  font-weight: $font-medium;
                }
              }
            }
          }
        }

        .login-actions{
          display: flex;
          align-items: center;
          .login-btn{
            background-color: transparent;
            color: $blue;
            padding: 0 15px;
            min-width: auto !important;
          }
          .create-btn{
            background-color: $light-blue-1;
            color: $blue;
            padding: 0 15px;
            &:hover{
              background-color: $blue;
              color: $white;
            }
          }
        }

        .menu-actions{
          display: flex;
          align-items: center;

          .logged-user-btn{
            height: 55px;
            padding: 10px;
            border-radius: 29px;
            background-color: $light-gray;
            @include media-breakpoint-down(md){
              padding: 0;
              background-color: transparent;
              min-width: auto;
              height: 37px;
              width: 37px;
              .text{
                display: none;
              }
            }
            .mat-button-wrapper{
              display: flex;
              .avatar{
                background-color: $light-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                height: 37px;
                min-width: 37px;
                width: 37px;
                border-radius: 50%;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }


      @include media-breakpoint-between(md, lg){
        &.main-menu {
          .main-nav {
            .nav-list-container{
              .nav-list {
                .nav-item {
                  margin: 0 7px;
                  .nav-link{
                    font-size: .85rem;
                  }
                }
              }
              .login-actions{
                .create-btn, .login-btn{
                  padding: 0 10px;
                  font-size: .87rem;
                  min-width: auto !important;
                }
              }
            }

          }
        }
      }


      @include media-breakpoint-down(md){
        &.active-nav{
          box-shadow: none;
          width: 100%;
          max-width: 100%;
          height: 100vh;

        }
        .main-nav{
          .menu-actions{
            flex-grow: 1;
            justify-content: flex-end;
            padding: 0 10px;
          }

          .nav-list-container{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
            position: fixed;
            height: calc(100vh - 100px);
            width: 100%;
            //background: rgb(108, 114, 122);
            padding: 1rem;
            left: 0;
            right: 0;
            top: 100px;
            bottom: 0;
            z-index: 2;
            transform: translateX(-100%);
            opacity: 0;
            //border-top: 1px solid $onyx;
            transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

            &.active-nav {
              transform: translateX(0%);
              opacity: 1;
              transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
            }
            .login-actions{
              justify-content: space-between;
              flex-direction: row-reverse;
              order: -1;
              .create-btn, .login-btn{
                width: 100%;
              }

              .create-btn{
                background-color: $blue;
                color: $white;
              }
              .login-btn{
                background-color: $light-gray;
              }
            }
            .nav-list{
              flex-direction: column;
              align-items: baseline;
              margin: 1rem 0;
              .nav-item{
                width: 100%;
                margin: 0;
                &.has-dropdown{
                  &:hover{
                    .nav-dropdown{
                      display: none;
                    }
                  }
                }

                &.collapse-dropdown {
                  > .nav-link{
                    background-color: transparent;
                    border-color: transparent;
                    .nav-label{
                      color: $light-blue;
                      &:after{
                        color: $light-blue !important;
                        transform: rotate(0);
                      }
                    }
                  }
                  .nav-dropdown {
                    position: static;
                    top: 0;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    display: block !important;
                    background-color: transparent;
                    .nav-item{
                      display: block !important;
                      opacity: 1 !important;
                      background-color: transparent !important;
                      .nav-link{
                        padding: 0 2.5rem;
                        align-items: center;
                        border: 0;
                        .nav-label{
                          color: $gray !important;
                        }
                        &.active, &:hover{
                          background-color: transparent !important;
                          .nav-label{
                            color: $light-blue !important;
                          }
                        }
                      }
                    }
                  }
                }
                .nav-link{
                  width: 100%;
                  height: 70px;
                  margin: 0;
                  padding: 0;
                  border: 0;
                  flex-direction: row;
                  align-items: center;
                  color: $onyx !important;
                  &:after{
                    display: none;
                  }
                  &.active, &:hover{
                    background-color: $transparent;
                    border-color: $transparent;
                    .nav-label{
                      color: $light-blue;
                      font-weight: $font-bold;
                      &:after{
                        transform: rotate(0deg);
                        color: $light-blue !important;
                      }
                    }
                  }
                  .nav-label{
                    flex-grow: 1;
                    justify-content: space-between;
                    //margin: 0 .5rem;
                    color: $onyx;
                    font-size: 1.2rem;
                    &:after{
                      transform: rotate(-90deg);
                      color: $onyx !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
