<app-header className="secondary-header"></app-header>
<section class="pt-4 pb-5">
  <div class="custom-container">
    <article class="mx-md-5 px-md-5">
      <div class="news-info text-center">
      <span class="primary-label bg-color-white-imp d-inline-flex align-items-center mx-2">
        <i class="fi fi-calendar-1 font-18 text-color-light-blue mx-2"></i> 22/11/2021
      </span>
        <h1 class="font-39 font-md-24 font-weight-bold text-color-onyx mt-1 mb-4">Problems everyone has when working remotely and how to solve them</h1>
      </div>
      <figure class="img-card rounded-image full default-shadow mb-4">
        <img src="/assets/images/news/news-details.jpg" alt="">
      </figure>
      <div class="sub-sections mb-4" *ngFor="let i of [1,2,3]">
        <h2 class="font-34 font-md-20 font-weight-bold text-color-onyx mb-0">Sub Title Example here</h2>
        <p class="font-16 font-weight-medium">
          Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services. Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.

          Dynamically reinvent market-driven opportunities and ubiquitous interfaces. Energistically fabricate an expanded array of niche markets through robust products. Appropriately implement visionary e-services vis-a-vis strategic web-readiness.
        </p>
      </div>
    </article>

  </div>
</section>
