<app-header className="match-making-header" title="Organization Name" orgEmail="username@company.com.sa"></app-header>
<section class="py-4">
  <div class="custom-container mb-5">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of companyDetails">
            <label class="font-20 text-color-onyx font-weight-bold mb-0">{{item.label}}</label>
            <p class="font-16 text-color-gray m-0">{{item.info}}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</section>
