:host{
  ::ng-deep{
    .mat-list{
      .mat-list-item{
        border-bottom: 1px solid #EDEDED;
        height: auto;
        &:last-child{
          border-bottom: 0;
        }
        .mat-list-item-content{
          display: flex;
          flex-direction: column;
          align-items: baseline;
          padding: 15px 0;
        }
      }
    }
  }
}
