<app-header
  title="Demonstration Projects "
  subTitle="Demonstration project program supports technology implementation"
></app-header>
<section class="secondary-section pb-0">
  <div class="custom-container">
    <app-article-section
      title="Overview"
      [description]="description"
      [image]="image"
    >
    </app-article-section>
    <div class="app-info default-shadow">
      <div class="app-info-item">
        <div class="icon">
          <img src="assets/images/applications/pay.svg" alt="" />
        </div>
        <span class="font-18 font-md-16 text-color-gray my-2"
          >Maximum KACARE Contribution</span
        >
        <h5 class="font-24 font-md-20 text-color-black mb-0 line-height-1">
          50% of project cost
        </h5>
      </div>
      <div class="app-info-item">
        <div class="icon">
          <img src="assets/images/applications/hourglass.svg" alt="" />
        </div>
        <span class="font-18 font-md-16 text-color-gray my-2"
          >Maximum Project Duration</span
        >
        <h5 class="font-24 font-md-20 text-color-black mb-0 line-height-1">
          36 Months
        </h5>
      </div>
      <div class="app-info-item">
        <div class="icon">
          <img src="assets/images/applications/cash.svg" alt="" />
        </div>
        <span class="font-18 text-color-gray my-2">Maximum KACAR Funding </span>
        <h5 class="font-24 font-md-20 text-color-black mb-0 line-height-1">
          <span class="text-color-light-blue">20 Million</span> SAR
        </h5>
      </div>
    </div>

    <div class="hint bg-color-light-gray p-4">
      <div class="icon">
        <img src="assets/images/applications/check.svg" alt="" />
      </div>
      <span class="mx-3"></span>
      <p class="font-16 text-color-gray m-0">
        <strong>El EUGIBIUTY</strong>: All organizations located globally are
        encouraged to participate in project teams. However, demonstrations
        projects awarded under this RFP must be led by a Saudi company that is
        registered to do 'limy business in Saudi Arabia. Foreign technology
        firms, universities and research institutions, and potential limit
        offtakes may participate as team members, under the lead of a local
        Saudi company.
      </p>
    </div>
  </div>
  <div class="bg-color-light-gray position-relative overflow-hidden">
    <div class="custom-container">
      <div
        class="
          apply-section
          d-md-flex
          align-items-md-center
          justify-content-md-between
          py-5
        "
      >
        <p class="font-34 font-md-20 font-weight-bold mb-2 mb-md-0">
          We Support technology implementation
        </p>
        <button
          mat-flat-button
          class="btn light-blue-button only-shadow px-5"
          routerLink="/applications/apply"
        >
          Apply Now
        </button>
      </div>
    </div>
  </div>
</section>
