<app-header title="PV-Diesel Hybrid Systems"></app-header>
<section class="secondary-section">
  <div class="custom-container mb-5">
    <div class="row flex-lg-row flex-column-reverse">
      <div class="col-xl-8 col-lg-7 mb-4">
        <div class="row" data-aos="zoom-in">
          <div class="col-md-3 mb-3">
            <span class="font-19 text-color-blue font-weight-bold">Prime bidder:</span>
          </div>
          <div class="col-md-9 mb-3">
            <span class="font-16 text-color-gray">{{projectDetails.bidder}}</span>
          </div>
          <div class="col-md-3 mb-3">
            <span class="font-19 text-color-blue font-weight-bold">Project value:</span>
          </div>
          <div class="col-md-9 mb-3">
            <span class="font-16 text-color-gray">{{projectDetails.value}}</span>
          </div>
          <div class="col-md-3 mb-3">
            <span class="font-19 text-color-blue font-weight-bold">Project partners:</span>
          </div>
          <div class="col-md-9 mb-3">
            <span class="font-16 text-color-gray">{{projectDetails.partners}}</span>
          </div>
        </div>
        <div class="pt-4" data-aos="zoom-in">
          <h5 class="font-24 text-color-onyx my-4">PROJECT OVERVIEW AND BENEFIT</h5>
          <ul class="default-list dashed-list">
            <li *ngFor="let item of projectDetails.overview" class="font-16 text-color-gray font-weight-medium">{{item}}</li>
          </ul>
        </div>
        <div class="pt-4" data-aos="zoom-in">
          <h5 class="font-24 text-color-onyx my-4">TECHNICAL INNOVATION</h5>
          <ul class="default-list dashed-list">
            <li *ngFor="let item of projectDetails.overview" class="font-16 text-color-gray font-weight-medium">{{item}}</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 mb-4">
        <app-project-card className="no-shadow details-page" [date]="projectDetails.date" [technology]="projectDetails.technology"
                          [location]="projectDetails.location" [image]="projectDetails.image"
        >
          <img src="assets/images/logo.svg" alt="logo" logo>
        </app-project-card>
      </div>
    </div>

  </div>
</section>
