<div class="page-loading" *ngIf="showSpinner; else otherContent">
  <img src="assets/images/logo-icon.svg" alt="" />
</div>

<ng-template #otherContent>
  <router-outlet></router-outlet>

  <div class="contact-popup-btn cursor-pointer" routerLink="/contact-us">
    <div class="default-tooltip">Contact us?</div>
    <button >
      <i class="fi fi-contact-2 font-35 text-color-white"></i>
    </button>
  </div>

  <mat-progress-spinner
    [mode]="'indeterminate'"
    *ngIf="loading$ | async"
  ></mat-progress-spinner>
</ng-template>
