@import "src/assets/scss/variables";


:host{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  main{
    flex-grow: 1;
    margin-top: 93px;
  }
}

.page-loading{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 13;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  background-image: url("/assets/images/login-pattern.svg");
  background-position: 100% 80%;
  background-size: 25%;
  background-repeat: no-repeat;
  img{
    width: 100px;
  }
}
