@import "src/assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host{
  ::ng-deep{
    .match-making-card{
      background: $white;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      padding: 30px 20px;
      top: 0;
      border: 0;
      box-shadow: 0 20px 40px rgba($onyx, 7%);
      &.gray{
        background: $light-gray;
        box-shadow: none;
        &:before{
          border-color: $white;
        }

        .company-details{
          .detail{
            background: $white;
          }
        }
        &:hover{
          background: $white;
          //box-shadow: none;
          &:before{
            border-color: $light-gray;
          }
          .company-details{
            .detail{
              background: $light-gray;
            }
          }
          .actions{
            .button-white{
              background: $light-gray;
            }
          }
        }
      }

      &:before{
        content: '';
        width: 300px;
        height: 300px;
        background-color: transparent;
        border-radius: 50%;
        border: 70px solid #F8F8FB;
        position: absolute;
        left: -150px;
        top: -150px;
        transition: all .3s linear;
      }

      .actions{
        position: absolute;
        right: 1rem;
        top: 1rem;
        .button-white{
          background: white;
        }
      }

      .match-status {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 1.5rem;
        height: 26px;
        padding: 0 10px;
        border-radius: 0px 3px 3px 0;
        &.published {
          background-color: $green;
          color: $white;
        }
        &.unpublished {
          background-color: #e4e7ee;
          color: $onyx;
        }
      }

      .text-avatar{
        position: relative;
        border-radius: 6px;
        width: 57px;
        height: 57px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      .card-content{
        position: relative;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h3{
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
          line-height: 1;
        }
        h6{
          height: 120px;
          overflow: hidden;

        }
      }
      .company-details{
        display: flex;
        flex-wrap: wrap;
        margin: .75rem -1rem 0;
        .detail{
          margin: 0 1rem;
          background: $light-gray;
          border-radius: 7px;
          text-align: center;
          flex-grow: 1;
          justify-content: center;
          padding: 10px;
          &.email{
            width: 100%;
            margin-bottom: 1rem;
          }
        }
      }
      &:hover{
        //box-shadow: none;
        box-shadow: 0 10px 20px rgba($onyx, 7%);
        top: -5px;


      }
    }
  }
}
