<app-section-title className="admin-title" title="FAQs"></app-section-title>
<div class="admin-header" data-aos="zoom-in">
  <mat-form-field class="form-field">
    <div class="input-content">
      <mat-select
        (selectionChange)="onStatusChanged($event)"
        disableOptionCentering
        required
        placeholder="Status"
      >
        <mat-option [value]="ele.value" *ngFor="let ele of status"
          >{{ ele.viewValue }}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  <span class="mx-3"></span>
  <button mat-flat-button class="btn light-blue-button px-4" (click)="addFaq()">
    <mat-icon class="mx-1">add</mat-icon>
    <span class="mx-1 d-none d-md-inline-block">New Question </span>
  </button>
</div>

<ng-container *ngIf="dataSource.length; else noDataFound">
  <app-table-list
    className="admin-table"
    [columnsConfig]="columnsConfig"
    [rows]="dataSource"
    [columns]="columns"
    [actions]="actions"
    (emitData)="onReceiveFAQItem($event)"
  ></app-table-list>
</ng-container>

<ng-template #noDataFound>
  <app-shared-no-data-found
    *ngIf="!(loading$ | async) && !dataSource.length"
  ></app-shared-no-data-found>
</ng-template>
