<section class="main-section bg-color-light-gray">
  <div class="custom-container">
    <app-section-title
      title="Match making"
      subTitle="find your partners"
    ></app-section-title>

    <div class="my-4">
      <app-how-it-works *ngIf="!isAuthenticated"></app-how-it-works>
      <swiper [config]="config" class="default-swiper" *ngIf="isAuthenticated">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let company of companies">
            <app-match-making-card
              [className]="showSpinner ? 'white loading' : 'white'"
              [title]="company.organizationName"
              [description]="company.details"
              [name]="company.organizationName"
              [email]="company.contactInfo"
              [technology]="company.technology.nameEn"
              [role]="company.matchMakingRole.nameEn"
            ></app-match-making-card>
          </div>
        </div>
        <div class="swiper-controls">
          <div class="add-rows">
            <!-- Add Arrows -->
            <button
              mat-icon-button
              class="btn arrow-button button-next white"
              type="button"
            >
              <span class="fi fi-arrow-right-long"></span>
            </button>
            <span class="mx-1"></span>
            <button
              mat-icon-button
              class="btn arrow-button button-prev white"
              type="button"
            >
              <span class="fi fi-arrow-left-long"></span>
            </button>
          </div>
        </div>
      </swiper>
      <div
        class="d-flex align-items-center flex-column mt-5"
        data-aos="zoom-in"
      >
        <div *ngIf="isAuthenticated" class="hint mb-3">
          <span class="icon">
            <img src="assets/images/icons/lamp.svg" alt="" />
          </span>
          <p class="font-24 text-color-onyx mb-0 mx-3">
            if you don't know what's the perfect application fit with your
            company
          </p>
        </div>
        <div class="btn-section flex-wrap justify-content-center">
          <button
            mat-flat-button
            class="btn light-blue-button shadow-hover px-5 mb-2 mb-md-0"
            *ngIf="!isAuthenticated"
            routerLink='/login'
          >
            Get Started
          </button>
          <button
            mat-flat-button
            class="btn light-blue-button shadow-hover px-5 mb-2 mb-md-0"
            *ngIf="isUser"
            routerLink='/match-making/my-match-making'
          >
            Start a new match
          </button>
          <button
            mat-stroked-button
            class="btn light-blue-button shadow-hover px-5"
            *ngIf="isAuthenticated"
            routerLink='/match-making/all-match-making'
          >
            View all
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
