<!-- <section class="custom-container">
  <div class="my-4 d-flex justify-content-center d-flex justify-content-md-start">
    <img src="assets/images/logo.svg" alt="logo">
  </div>
  <form action="" class="form-section">
    <div class="form-icon">
      <img src="assets/images/password.svg" alt="">
    </div>
    <h2 class="font-32 font-weight-bolder text-color-onyx my-3">Reset Password ?!</h2>
    <mat-form-field>
      <label class="form-label">Enter New Password</label>
      <div class="input-content">
        <input matInput autocomplete="off" type="password" placeholder="Enter New Password" required>
        <span class="form-icon fi fi-eye text-color-dark-gray-1 font-15"></span>
      </div>
    </mat-form-field>

    <mat-form-field>
      <label class="form-label">Confirm a New Password </label>
      <div class="input-content">
        <input matInput autocomplete="off" type="password" placeholder="Confirm a New Password " required>
        <span class="form-icon fi fi-eye text-color-dark-gray-1 font-15"></span>
      </div>
    </mat-form-field>

    <button routerLink="/home" mat-flat-button class="btn light-blue-button only-shadow font-16 font-weight-bold w-100 my-3">
      Reset Password
    </button>
    <p class="font-16 font-weight-medium text-color-gray text-center mt-4 mb-2">
      <a routerLink="/login" class="text-color-light-blue underline hover-underline">Back to login?</a>
    </p>

  </form>
</section> -->

<app-shared-auth [authConfig]='authConfig' (emitFormValue)='onReceiveFormValue($event)' [showSpinner]='showSpinner'></app-shared-auth>