<div class="row">
  <div class="col-md-6 mb-4" *ngFor="let infographic of infographics">
    <app-main-card
      className="infographics-card"
      [title]="infographic.title"
      [description]="infographic.description"
    >
      <img [src]="infographic.icon" shape />
      <button
        mat-flat-button
        class="btn primary-button font-weight-bolder align-self-end"
        link
        (click)="onDownLoadFile(infographic.fileLink)"
      >
        <span class="btn-icon fi fi-download"></span>
        Download
      </button>
    </app-main-card>
  </div>
</div>
