:host {
  ::ng-deep {
    .card.infographics-card {
      &:hover {
        position: absolute;
        left: 15px;
        right: 15px;
        z-index: 1;
        .card-content {
          h6 {
            height: auto;
            flex: auto;
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
}
