<app-section-title className="admin-title" [title]="title"></app-section-title>

<form [formGroup]="filtersForm">
  <div class="admin-header" data-aos="zoom-in">
    <div class="d-flex flex-grow-1">
      <mat-form-field class="form-field">
        <div class="input-content">
          <mat-select
            disableOptionCentering
            placeholder="Status"
            formControlName="reviewed"
            (valueChange)="onStatusChanged($event)"
          >
            <mat-option
              [value]="app.key"
              *ngFor="let app of applicationsSatatus"
            >
              {{ app.description }}</mat-option
            >
          </mat-select>
        </div>
      </mat-form-field>
      <span class="mx-3"></span>
      <mat-form-field>
        <div class="input-content">
          <mat-select
            disableOptionCentering
            placeholder="Choose RFP Topic"
            formControlName="rfpTopicId"
            (valueChange)="onRFPTopicChanged($event)"
          >
            <mat-option [value]="topic.id" *ngFor="let topic of RFPTopics">{{
              topic.nameEn
            }}</mat-option>
          </mat-select>
        </div>
      </mat-form-field>
    </div>
    <span class="mx-sm-3"></span>
    <mat-form-field class="datepicker">
      <div class="input-content">
        <mat-date-range-input [rangePicker]="picker">
          <input
            #dateRangeStart
            matStartDate
            placeholder="Start date"
            formControlName="dateFrom"
          />
          <input
            #dateRangeEnd
            matEndDate
            placeholder="End date"
            formControlName="dateTo"
            (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <i
            class="fi fi-calendar text-color-gray font-19"
            matDatepickerToggleIcon
          ></i>
        </mat-datepicker-toggle>
      </div>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</form>

<ng-container
  *ngIf="dataSource.length && !(loading$ | async); else noDataFound"
>
  <app-table-list
    className="admin-table"
    [columnsConfig]="columnsConfig"
    [rows]="dataSource"
    [columns]="columns"
  ></app-table-list>
</ng-container>

<ng-template #noDataFound>
  <app-shared-no-data-found></app-shared-no-data-found>
</ng-template>
