@import "src/assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host ::ng-deep{
  .card{

    &.goals-card{
      padding: 30px;
      text-align: center;
      height: 100%;
      .shape{
        height: 100px;
        min-width: 100px;
      }
      h3{
        color: $onyx;
        font-size: 1.5rem;
        margin: 15px 0;
        overflow: hidden;
      }
    }


    &.news-card{
      border: 1px solid #E3E3E3;
      box-shadow: none;
      padding: 15px;
      cursor: pointer;
      .shape{
        border-radius: 10px;
      }
      .card-content{
        padding: 20px 0 0;
        h3{
          font-size: 1.25rem;
          height: 44px;
          overflow: hidden;
        }
        .btn {
          box-shadow: none !important;
          .mat-button-wrapper{
            justify-content: flex-start;
          }
        }
      }
      &:hover {
        border-color: transparent;
        box-shadow: 0 20px 40px rgba($onyx, 7%);
      }
    }

    &.infographics-card{
      flex-direction: row;
      align-items: flex-start;
      padding: 20px;
      background-color: $white;
      @include media-breakpoint-down(md){
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .shape{
        background-color: rgba($light-blue, 10%);
        padding: 20px;
        margin-right: 20px;
        border-radius: 5px;
        min-width: 95px;
        width: 95px;
        height: 95px;
        margin-bottom: 1rem;
      }
      .card-content{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        @include media-breakpoint-down(md){
          .btn{
            margin: auto;
          }
        }
        h3{
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
          line-height: 1;
        }
        h6{
          //min-height: 45px;
          min-height: 45px;
          //flex: 45px;
          //overflow: hidden;
          margin-bottom: 0.75rem;
          transition: all .3s ease-out;
          @include media-breakpoint-down(sm){
            height: auto;
          }
        }
      }

      &:hover{
        border-color: transparent;
        box-shadow: 0 20px 40px rgba($onyx, 7%);
      }
    }

    &.how-it-works-card{
      justify-content: center;
      text-align: center;
      position: relative;
      border: 0;
      &.last-card{
        &:before{
          display: none;
        }
      }
      &:before{
        content: '';
        width: 100%;
        height: 1px;
        left: 50%;
        top: 50px;
        background-color: #E4E4E4;
        position: absolute;
      }
      .shape{
        position: relative;
        z-index: 1;
      }
      .card-content{
        margin-top: 30px;
        h3{
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
          line-height: 1;
        }
      }
    }



  }
}
