<section class="main-section">
  <div class="custom-container">
    <app-section-title
      title="TECHNOLOGY AREAS"
      subTitle="TECHNOLOGIES THAT WE FOCUS ON"
    ></app-section-title>

    <div class="my-4">
     <app-shared-technolog-areas-card [cardsNumbers]='4'></app-shared-technolog-areas-card>
      <div class="d-flex justify-content-center mt-5">
        <button
          mat-stroked-button
          class="btn light-blue-button shadow-hover px-5"
          routerLink='/infographics'
        >
          View all
        </button>
      </div>
    </div>
  </div>
</section>
